/node_modules

/public/rajuk23/*

/storage/*.key

#/bootstrap

/vendor
.env
.env.backup

composer.lock
package-lock.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
